*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to right, red, yellow);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 85%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor:pointer;
}
.logo img{
    width:125px ;
    margin:20px  0;
}
.nav, .navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    margin-right: 45px;
}
.navbar ul li a{
    color:black;
    text-decoration:underline ;
}
.button{
    padding: 12px 20px;
    outline:none ;
    border: 0;
    color: #7b91ce;
    font-weight: bold;
    background: #fbfbfb;
    border-radius: 5px;
    cursor: pointer;
}
.banner-text{
    width: 60%;
    color: #fff;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.banner-text h1{
    font-size: 45px;
}
.banner-text p{
    color:indigo;
}
.banner-text input{
    width:100%;
    margin:auto;
    background: #fff;
    padding:15px;
    box-sizing: border-box;
    border-radius: 20px;
    border:0px;
    outline: none;
}
.stock{
    width: 80%;
    padding: 10% 0;
    box-sizing: border-box;
    margin: auto;
}
.row{
    width:100%;
    height:1000px;
    display: flex;
    flex-flow: column wrap;
    display: flex;
    row-gap: 40px;
}
.column{
    width: 30%;
    padding-bottom: 5px;
}
.column img{
    width:100%;
    cursor: pointer;
    transition:0.5s;
}
.column img:hover{
    transform: scale(1.25);
}